body {
    font-family: Arial, sans-serif;
    background-image: url("C:\\Users\\IT-User\\OneDrive - Campus Bildung und Beruf\\Virtual Studio Code\\weather\\weather\\Bilder Layout\\background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    margin: auto;
}

.banner {
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    max-width: 800px;
    max-height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 20px;
}

.weatherApp {
    display: flexbox;
    box-sizing: content-box;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-table;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    width: 80%;
}

#weather-result {
    margin-top: 20px;
    box-sizing: content-box;
}

.forecast {
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    box-sizing: content-box;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    margin: 25px;
}

.date-container {
    display: inline-block;
    font-weight: normal;
    font-size: large;
    background-color: rgba(205, 205, 205, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
    width: 75%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.high {
    background-image: url("C:\\Users\\IT-User\\OneDrive - Campus Bildung und Beruf\\Virtual Studio Code\\weather\\weather\\Bilder Layout\\high.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.warm {
    background-image: url("C:\\Users\\IT-User\\OneDrive - Campus Bildung und Beruf\\Virtual Studio Code\\weather\\weather\\Bilder Layout\\warm.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.allright {
    background-image: url("C:\\Users\\IT-User\\OneDrive - Campus Bildung und Beruf\\Virtual Studio Code\\weather\\weather\\Bilder Layout\\allright.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.cold {
    background-image: url("C:\\Users\\IT-User\\OneDrive - Campus Bildung und Beruf\\Virtual Studio Code\\weather\\weather\\Bilder Layout\\cold.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.freezing {
    background-image: url("C:\\Users\\IT-User\\OneDrive - Campus Bildung und Beruf\\Virtual Studio Code\\weather\\weather\\Bilder Layout\\freezing.jpg");
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;
}